# .gitignore file
/playbooks/smbsecrets.yml
/playbooks/ps.txt
/playbooks/smbs.yml
/ansible-navigator.log
/.vscode/
/playbooks/0001_temp
/.husky/
/playbooks/node_modules/
/commmtlint.config.js
/package-lock.json
/package.json
/playbooks/package-lock.json
/playbooks/package.json
/packer/vars.auto.pkr.hcl
/packer/plagins/
